@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}


html {
    height: calc(var(--vh) * 100);
}

body {
    height: calc(var(--vh) * 100);
}
